/* css for  */

/* css for all */

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* css for Header */
#header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center ;
    
}
#header .header-inner{
    width: 80%;
    height: 100%;
    display: flex;
    /* background-color: antiquewhite; */
}
 #header .header-inner .logo{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center; 
}
.logo img{
    max-width: 100%;
    max-height: 100%;

}
#header .header-inner .nav{
    width: 75%; 
    height: 100%;
    display: flex;
    align-items: center;
 }  
.main-menu{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    font-family: 'Archivo',  sans-serif;
}

.main-menu>li{
    width: fit-content;
    margin-right: 15px ;
    padding: 5px;
    position: relative;
    
}
.main-menu>li>a{

    text-decoration: none ;
    color: #020516;
    text-transform:uppercase ;
}
.main-menu>li>a.active{
    color: #0b249e;
    text-shadow: 1px 1px #f5eeee;
}
.sub-menu{
    display: none ;
}
.main-menu>li:hover .sub-menu{
    display: block;
    position: absolute;
    top: 25px;
    left: 0px;
    background-color: #f4f4f4;
    padding: 10px;
    width: max-content;

}
.main-menu>li:hover .sub-menu li {
    padding: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid #0000;
}
.main-menu>li:hover .sub-menu li a{
    text-decoration: none;
    color: #020516;
}
/* css for slider */
#slider{
    width: 100%;
    height: 700px;
    /* display: flex; */
    position: relative;

}

.slider-item{
    width: 100%;
    height: 100% ;
}
.slide-item img{
    max-width: 100%;
    max-height: 100%;
}
span .fa-chevron-left{
    width: 50px;
    height: 50px;
    position: absolute; 
    top: 335px;
    bottom: 10px;
    right: 0;
    left: 10px;

}
span .fa-chevron-right{
    width: 30px;
    height: 30px;
    /* background-color: #f4f4f4; */
    position: absolute; 
    top: 335px;
    bottom: 20px;
    right: 10px;
    /* left:10px */
}
/* intro */

#intro{
    display: flex;
    justify-content: center;
    padding: 60px 0;

}
.intro-inner{
    width: 80%;

}
.intro-inner h3{
    font-size: 1.75rem;
    text-transform: uppercase;
    font-size: 600;
    text-align: center;
    margin-bottom: 20px;
}
.intro-inner h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-size: 500;
    text-align: center;
    margin-bottom: 20px;
}
.intro-content{
    display: flex;
    justify-content: space-around;

}
.intro-content .intro-item{
    width: 28%;
    padding: 18px;
    border: 1px solid #E1E0E0;

}
.intro-content .intro-item img{
    width: 100%;
    height: 250px;

}
.intro-content .intro-item p{
    text-align: justify;
    margin-top: 20px;
    line-height: 23px ;
}

/* CSS for Mobile */
@media only screen and (max-width: 600px){
    /* thay đổi trên mobile */
    #header .header-inner{
        width: 100%;
        height: 100%;
        display: flex;
        /* background-color: antiquewhite; */
    }
}

/* 3.css for Tablet */
@media only screen and (min-width: 601px) and (max-width: 700px){

}