/*RESET CSS*/
*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/*HEADER*/

.header {
    height: 80px;
    width: 100%;
}
.header .logo{
    width: 200px;
max-width: 100%;
display: inline-block;
height: auto;
vertical-align: middle;
}

.header .nav{
    float: right;
    justify-content: center;
    line-height: 80px;
}

.header .nav li{
    display: inline-block;
    font-family: "Archivo", Sans-serif;
font-size: 15px;
font-weight: 600;
padding: 0px 15px 0px 15px;
text-decoration: none;
text-transform: none;
letter-spacing: normal;
align-items: center;
text-transform: uppercase;
line-height: 1.3em;
padding: relative;
}

.header .nav .subnav {
    position: absolute;
    display: none;
}

.nav>li:hover .subnav {
    display: block;
} 

/*SLIDER*/
.slider img{
   width: 100%;
}

/* INTRO */
.intro .title {
    margin-top: 82px;
text-align: center;
}

.intro-img {
    width: 266px;
}

/*REGIS*/
.regis .regis-img {
    width: 100%;
    background-image: linear-gradient(180deg, #000D75 0%, #65379A 100%);
}

